<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<style>
#update{
	width: 100px; 
	display: block; 
	height: 50px; 
	line-height: 50px; 
	text-align: center; 
	background-color: #444; 
	color: #fff; 
	margin: 0 10px;
}
</style>

<body>
	<div id="wrap">
        <header>
            <h3>
				<img src = "/images/mmu.png" alt="mmu" width="50" height="50">
                <a> MMU 족보닷컴</a>
            </h3>
            <div>
                <a href="/">로그아웃</a>
            </div>
        </header>
        <main>
            <div class="con1">
                <div class="title">회원 정보</div>
                <ul class="user">
                	<li th:text="${session.professor.professorName}"></li>
                    <li th:text="${session.professor.professorNum}"></li>
                    <a id="update" href="/board/p_update">회원정보수정</a>
                </ul>
                <div class="title">담당과목</div>
                <ul class="subject">
                    <li>과 명</li>
                    <li>과 명</li>
                    <li>과 명</li>
                </ul>
            </div>
            <div class="con2">
                <div id="">
				<ul class="menu">
					<li><a href="review.html">강의후기 |</a></li>
					<li><a href="data.html">강의자료실 |</a></li>
					<li><a href="share_book.html">책 공유</a></li>
				</ul>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>안녕하세요!!</td>
                            <td>이름</td>
                            <td>2021-10-31</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안녕하세요!!</td>
                            <td>이름</td>
                            <td>2021-10-31</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안녕하세요!!</td>
                            <td>이름</td>
                            <td>2021-10-31</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안녕하세요!!</td>
                            <td>이름</td>
                            <td>2021-10-31</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>안녕하세요!!</td>
                            <td>이름</td>
                            <td>2021-10-31</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <footer>

        </footer>
    </div>

</body>
</html>