<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<style>
/* #update{
	width: 100px; 
	display: block; 
	height: 50px; 
	line-height: 50px; 
	text-align: center; 
	background-color: #444; 
	color: #fff; 
	margin: 0 10px;
} */
</style>
<body>
<form th:action="@{/board/share_book}" method="post">
	<div id="wrap">
        <header>
            <h3>
                <a href="/board/s_main">
                    <img src = "/images/mmu.png" alt="mmu" width="50" height="50">    
                    MMU 족보닷컴
                </a>
            </h3>
            <div class="login">
                <a href="/">로그아웃</a>
            </div>
        </header>
        <main>
            <div class="con1">
                <div class="title">회원 정보</div>
                <ul class="user">
                	<li th:text="${session.member.studentName}"></li>
                    <li th:text="${session.member.studentNum}"></li>
                    <a id="update" href="/board/s_update">회원정보수정</a>
                </ul>
                <div class="title">페이지</div>
                <ul class="subject">
                    <li><a id="update" href="/board/review">강의후기</a></li>
                    <li><a id="update" href="/board/data">강의자료</a></li>
                    <li><a id="update" href="/board/share_book">책공유</a></li>
                </ul>
            </div>
            <div class="con2_3">
                <div class="title2">
                    <p>책 공유</p>
                    <a href="/board/up_book">글쓰기</a>
                </div>
                <div class="choice">
                        <input type="text" name="search">
                        <button type="submit">검색</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>과목명</th>
                            <th>책이름</th>
                            <th>작성자</th>
                            <th>작성일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sboard, state:${sboardList}">
                            <td th:text="${state.count}" th:align="center">
                            <td th:text="${sboard.title}">
                            <td th:text="${sboard.member.studentName}">
                            <td th:text="${#dates.format(sboard.createDate, 'yyyy-MM-dd')}">                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <footer>

        </footer>
    </div>

    <script>
        
    </script>
</form>
</body>
</html>