<!--회원가입-->
div.create{
	width: 800px;
    text-align:center;
    padding:30px;
    border-bottom:1px solid black;
    margin:auto;
}
table{
    height: 300px;
    width: 900px;
    border-top: 3px solid black;
    margin-right: auto;
    margin-left: auto;
}
td{
	padding:30px;
	border-bottom: 1px dotted black;
}
.num{
	color: red;
}
